.icons {
	margin-left: 24vw;
	cursor: pointer;
}
.material-icons{
	margin: 2vh;
}
.search{
	margin-left: 8vw;
	width: 40vw;
	height: 6.5vh;
	border-radius: 2em;
	border: 2px solid white;
	font-size: 0.8em;
	text-align: center;
	color: black;
	font-weight: 150px;
}
mat-toolbar{
	padding: 0;
}
img {
	height: 20vh;
	width: 8vw;
	margin: 0;
	margin-left: 0;
}
.logout{
	font-size: 0.9em;
	margin-bottom: 0.7vh;
	cursor: pointer;
}